@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-geist-mono: "Menlo", "SFMono-Regular", "Consolas", "Liberation Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Analog Clock Styles */
.react-clock__face {
  border-color: var(--mantine-color-gray-3) !important;
  background-color: white;
}

.react-clock__hand__body {
  background-color: var(--mantine-color-dark-9) !important;
}

.react-clock__second-hand__body {
  background-color: var(--mantine-color-red-6) !important;
}

.react-clock__mark__body {
  background-color: var(--mantine-color-gray-5) !important;
}
